.cuerpo-alumno{
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  margin:15% ;
  background: rgba(red, green, blue, 0.5);
}
.estilo-padre{
    position: relative;
    width: 100%;
    height: auto;
}