.cuerpo-alumno{
  position: absolute;
  width: 80%;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  margin:15% ;
}
.estilo-padre{
    position: relative;
    width: 100%;
    height: auto;
}