.cuerpo-alumno{
  position: absolute;
  width: 70%;
  align-items: center;
  justify-content: center;
  height: auto;
  top: 300px;
  background: red;
  text-align: center;
}
.estilo-padr{
    position: relative;
    width: 100%;
    height: auto;
    background: black;
}