.fondo{
    background-image: url("../recursos/fondo.jpg");
        min-height: 90%;
        min-width: 800px;
 
        /* Escalamiento proporcional */
        width: 100%;
        height: auto;
 
        /* Posicionamiento */
        position: fixed;
        top: 0;
}