body {
	height: 100%;
  margin: 0px;
  padding: 0px;
}
html{
	height: 100%;
}
.contenedor{
        background-image: url("../recursos/fondo.jpg");                      /* <------ */
        height: 100%;
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;

}

.botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#348cff;
    right:0;
    bottom:0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:13px;
    left: 0;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s; 
  }
  

  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }

  