.fondo{
    background-image: url("../recursos/fondo.jpg");
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}